/* style.css */
/* 스타일 변수 선언 */

:root {
  --main-color: #1abc9c;
  font-size: 1em;
}
/* 맨 위에 쓰는 함수 root */
/* 전역변수 //  -- << 자바스크립트 var처럼 변수선언  // var(변수명) == 함수*/
/* * << 모든 태그 < 모든 요소만 바꾼다 => 값이 바뀜 */
/* :root < 값은 변하지 않는../ 최상위 함수!  */
/* root 선언하면 여기가 제일 우선!!!! ( •̀ ω •́ )✧ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
/*  복잡한 코진 >↑ 선택자 3개 기본으로 해놓기  */
header {
  background: #ccc;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}
/* 여기서 0.25는 불투명값 // x,y,블러값,불투명값 */
/* shadow < 피그마에서 값 복붙하면 됨!! */
header h1 {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding: 10px;
}
header > nav {
  display: flex;
}
/* flex는 박스개념 */

header > nav > a {
  display: block;
  color: #fff;
  text-decoration: none;
  /* outline: 1px solid #000; */
  padding: 10px;
  flex: 1;
  /* 1:1:1-flex /or/ width-33.33%로 해도 됨 */
  text-align: center;
  font-size: 16px;
  background-color: var(--main-color);
}
header > nav > a:hover,
header > nav > a:active {
  border-bottom: 3px solid #fff;
}
header > nav a.active {
  border-bottom: 3px solid #fff;
}
body {
  font: "Roboto", "맑은 고딕", sans-serif;
}
main {
  padding: 20px 15px;
  /* 수직, 수평 */
}
main h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}
main ul li img {
  width: 100%;
}
main .pet-list {
  display: flex;
  flex-wrap: wrap;
} /*flex=박스 , inline-flew=인라인  //  
    flex=no-wrap < 기본 값(한 줄마다 표시)
    flex=wrap <  플렉스 항목을 한 줄에 여러 개 표시  */
main .pet-list .item {
  /* 칼럼의 크기 = 크기 -(여백 / 칼럼 수(칸 수)) */
  width: calc(50% - (15px / 2));
  margin-right: 15px;
  margin-bottom: 20px;
}

main .pet-list .item:nth-child(2n) {
  margin-right: 0px;
}
/* 짝수 > 우측 마진을 제거하기 위해서 */
main .pet-list .item .name {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* 사진에 이름 배치 */
main .pet-list .item {
  position: relative;
  /* outline: 1px solid red; */
}
main .pet-list .item .name {
  position: absolute;
  bottom: 0;
  width: 100%;
}
main .pet-list .item img {
  display: flex;
}
/* 약간 떠서 flex나 block으로 잡아줌  */
